<!doctype html>
<html lang="en">
  <head>
    <title>Show Data</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
</head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="/">Data ChatBot</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/carHome">Car & Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/quickQuote">Quick quote</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/investment">Investment</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div id="pie-chart" ></div>
    </div>
    <div class="container graph_information">
            <div id="graph"></div>
    </div>
    <script>
        $(document).ready(function () {
            create_plot("graph",'Accuracy', get_data_plot({{data}}),
            Math.max.apply(null,{{data}}), Math.min.apply(null,{{data}}));
            create_donut("pie-chart", [
                {label:"Success", value: {{success | safe}}},
                {label:"Fail", value: {{fail | safe}}}, 
            ]);
        });
        function get_data_plot(data) {
            // This function generate a vector data for morris.js can read it
            let data_plot = new Array();
            for (let index = 0; index < data.length; index++) {
                data_plot[index] = {
                    "intention":index, "value":data[index]
                }          
            } 
            return data_plot
        }

        function create_plot(ele,xlable, json_data, max, min) {  
            new Morris.Line({
                // ID of the element in which to draw the chart.
                element: ele,
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data:json_data,
                // The name of the data record attribute that contains x-values.
                xkey: 'intention',
                // A list of names of data record attributes that contain y-values.
                ykeys: ['value'],
                // Labels for the ykeys -- will be displayed when you hover over the
                // chart.
                labels: [xlable],
                yLabelFormat:  function (value) {
                    return value + " %"
                },
                xLabelFormat: function(value){
                    console.log({{names | safe}}[value])
                    return {{names | safe}}[value]
                },
                ymax:max,
                ymin:min
            }); 
        }

        function create_donut(ele,json_data) {
            Morris.Donut({
                element: ele,
                data: json_data
            });
        }

    </script>    
  </body>
</html>